@import "vars";
.footer {
  background-color: #fff;
  padding: 24px 0 26px;

  &__logo {
    width: 196px;
    color: $orange;
    margin-bottom: 24px;
  }

  &__address {
    font-style: normal;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 34px;
  }

  &__contact-title,
  &__social-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 8px;
  }

  &__contact-tel {
    padding-left: 28px;
    background: url(../images/tel-icon.svg) left/24px no-repeat;
    font-size: 12px;
  }

  &__social {
    margin-bottom: px;
  }

  &__list {
    display: flex;
    gap: 16px;
  }

  &__vk,
  &__tg {
    width: 36px;
    color: $orange;
  }

  &__vk:hover,
  &__tg:hover {
    color: $yellow;
  }

  &__dev {
    font-size: 12px;
    line-height: 16px;
  }
}
@media (min-width: 480px) {
  .footer {
    &__address {
      flex-direction: row;
      gap: 50px;
    }
  }
}
@media (min-width: 768px) {
  .footer {
    padding: 40px 0 26px;

    &__address {
      gap: 177px;
      margin-bottom: 40px;
    }
  }
}

@media (min-width: 1024px) {
  .footer {
    padding: 52px 0 39px;
    &__inner {
      // display: grid;
      // grid-template-columns: repeat(3, 1fr);
      display: flex;
      justify-content: space-between;
    }
    &__logo {
      width: 300px;
    }
    &__address {
      gap: 50px;
      margin-bottom: 45px;
    }
    &__contact-title,
    &__social-title {
      font-size: 24px;
      line-height: 24px;
      margin-bottom: 23px;
    }

    &__contact-tel {
      font-size: 16px;
    }
  }
}

@media (min-width: 1360px) {
  .footer {
    padding: 51px 0 40px;

    &__inner {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }

    &__address {
      grid-column: 3/5;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    }
  }
}
